<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-center" href="#">Thanks for being with Me</a>
    <a class="navbar-text " href="#"> <%= Date.today.year%></a>
  </div>
</nav>